@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy:wght@100;300;400;500;600;700;800;900&display=swap');



.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra horizontalmente los elementos dentro de .contenido */
  align-items: center; /* Centra verticalmente los elementos dentro de .contenido */
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 80px; /* Puedes ajustar el tamaño según tus preferencias */
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

h3 {
  font-family: 'Satisfy', cursive;
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 100%;
}

h4 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.contactos{
  margin-top: -40px;
}

.menu-category {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos dentro de .menu-category */
  flex-wrap: wrap;
}

.menu {
  width: 350px; /* Ajusta el ancho según tus necesidades */
  height: 600px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
  transition: transform 0.3s, color 0.3s;
}

.menu:hover {
  transform: scale(1.1);
  color: rgb(196, 17, 17);
}

.menu img {
  width: 100%;
  height: 50%;
}

/* Ajusta el espacio entre las cajas en pantallas pequeñas */
@media (max-width: 768px) {
  .menu {
    width: calc(100% - 20px);
  }
}
