.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra horizontalmente los elementos dentro de .contenido */
  align-items: center; /* Centra verticalmente los elementos dentro de .contenido */
}

h2 {
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.menu {
  width: 300px; /* Ajusta el ancho según tus necesidades */
  margin: 10px;
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
  transition: transform 0.3s, color 0.3s;
}

.menu:hover {
  transform: scale(1.1);
  color: #FF5733;
}

.menu img {
  width: 100%;
  height: auto;
}

/* Asegura que el ajuste de tamaño se aplique correctamente en pantallas pequeñas */
@media (max-width: 768px) {
  .menu {
    width: calc(100% - 20px);
  }
}
